button {
  font-size: 2rem;
  cursor: pointer;
  border: 0.5px solid;
}

.subgrid {
  display: grid;
}

.opers {
  background-color: var(--orange);
  width: 100px;
  flex: 1 0 26%;
}

.container {
  grid-template-areas:
    "total total total total"
    "digit digit digit operand"
    "digit digit digit operand"
    "digit digit digit operand"
    "digit digit digit operand"
    "digit digit digit operand";
  grid-auto-columns: 1fr;
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
}

.operations {
  grid-area: operand;
}

.modif {
  background-color: var(--lightgray);
  width: 100px;
}

.input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  background-color: var(--darkgray);
  grid-area: total;
}

.array-btn {
  display: flex;
  flex-wrap: wrap;
  grid-area: digit;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.btn-array {
  background-color: var(--lightgray);
  width: 100px;
  flex: 1 0 26%;
}

.container,
.subgrid {
  display: grid;
}
