@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  --white: #fff;
  --darkgray: #858694;
  --orange: #f5913e;
  --lightgray: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', cursive;
}
